<% if comment.is_answer %>
  <div class="row valign-wrapper light-green accent-1">
<% else %>
  <div class="row valign-wrapper ">
<% end %>
  <div class="col s2">
    <%= image_tag User.find_by_id(comment.user_id).avatar.url(:small), class: "circle responsive-img" %>
  </div>
  <div class="col s10">
    <span class="black-text">
      <p>
        <%= link_to (User.find_by_id(comment.user_id)).username, user_path(comment.user_id) %>
      </p>
      <%= comment.body %>
      <% if can? :destroy, comment %>
          <p>
            <% if !comment.is_answer && comment.user_id != current_user.id %>
              <%= link_to "Answer", [comment.post, comment],
              method: :put, class: 'waves-effect waves-light btn'%>
            <% end -%>
            <%= link_to 'Delete', [comment.post, comment], method: :delete,
                  class: 'waves-effect waves-light btn', data: {confirm: "Are you sure?"}%>
          </p>
      <% end %>
    </span>
  </div>
</div>
<hr/>

