<div id="page_wrapper">
  <%= form_for @user do |f| %>
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true %>
    </p>
    <p>
      <%= f.label :information %> <br>
      <%= f.text_area  :information %>
    </p>
    <p>
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
    </p>
    <p>
      <%= f.submit 'Save' %>
    </p>
  <% end %>
</div>
