<h4>Edit Profile</h4>
<hr>

<%= form_for @user do |f| %>
  <div class="row">
    <div class="input-field col s12">
      <%= f.label :username %> <br>
      <%= f.text_field  :username %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :information %><br>
      <%= f.text_area :information, class: 'materialize-textarea' %>
    </div>
  </div>

  <p>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </p>

  <%= f.submit "Update", class: 'btn waves-effect waves-light' %>
<% end %>

