<div id="page_wrapper">
  <% if @user.username.empty? %>
    <h2><strong>User</strong></h2>
  <% else %>
    <h2><strong><%= @user.username %></strong></h2>
  <% end %>
  <hr />
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p>
    <strong>Information:</strong>
    <% if @user.information != nil %>
      <%= @user.information %>
      <% if @user.id == current_user.id %>
        <p>
          <font color="#44ACB7">
              <strong><%= link_to "Edit information", edit_user_path %></strong>
          </font>
        </p>
      <% end %>
    <% else %>
      no information found.
      <% if @user.id == current_user.id %>
        <p>
          <font color="#44ACB7">
                <strong><%= link_to "Edit information.", edit_user_path %></strong>
          </font>
        </p>
      <% end %>
    <% end %>
  </p>
  <% if @user.id == current_user.id %>
    <p>
      <font color="#44ACB7">
              <strong><%= link_to "Profile settings", edit_user_registration_path %></strong>
      </font>
    </p>
  <% end %>
</div>
