<div id="page_wrapper">
  <% if @user.username.empty? %>
    <h2><strong>User</strong></h2>
  <% else %>
    <h2><strong><%= @user.username %></strong></h2>
  <% end %>
  <hr />
  <p><strong>Email:</strong> <%= @user.email %></p>

  <p>
    <%= @user.username.capitalize %> has typed
    <font color="#44ACB7">
      <strong>
        <%= link_to "#{@p_counter} posts.", userposts_path(@user.id) %>
      </strong>
    </font>
  </p>

  <p>
    <strong>Subscribed on:
      <font color="#44ACB7">
        <%= raw current_user.subscribed_tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(' ') %>
      </font>
    </strong>
  </p>

  <p>
    <strong>Information:</strong>
    <% if @user.information != nil %>
      <%= @user.information %>
      <% if user_signed_in? && @user.id == current_user.id %>
        <p>
          <font color="#44ACB7">
              <strong><%= link_to "Edit profile.", edit_user_path %></strong>
          </font>
        </p>
      <% end %>
    <% else %>
      no information found.
      <% if user_signed_in? && @user.id == current_user.id %>
        <p>
          <font color="#44ACB7">
                <strong><%= link_to "Edit profile.", edit_user_path %></strong>
          </font>
        </p>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>Avatar:</strong> <br>
    <%= image_tag @user.avatar.url(:small) %>
  </p>

  <% if user_signed_in? && @user.id == current_user.id %>
    <p>
      <font color="#44ACB7">
              <strong><%= link_to "Change password", edit_user_registration_path %></strong>
      </font>
    </p>
  <% end %>
</div>
