<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue lighten-2">
<!--       <div class="row brand-logo center hide-on-med-and-down">
        <form>
          <div class="input-field col s12">
            <input id="search" type="search" required placeholder="Search...">
            <label for="search"><i class="material-icons">search</i></label>
          </div>
        </form>
      </div> -->
      <ul id="slide-out" class="side-nav grey lighten-5">
        <br>
        <% if user_signed_in? %>
          <% if current_user.avatar_file_size.nil? %>
            <div style="text-align:center;" class="black-text">
              <i class="fa fa-linux fa-5x" aria-hidden="true"></i><br>
              <%= current_user.username %>
            </div>
          <% else %>
            <div style="text-align:center;" class="black-text">
              <%= image_tag current_user.avatar.url(:small), class: "circle responsive-img" %><br>
              <%= current_user.username %>
            </div>
          <% end %>
          <li><%= link_to "My Profile", user_path(current_user.id) %></li>
          <li><%= link_to "News Feed", myfeed_path %></li>
        <% else %>
          <div style="text-align:center;" class="black-text">
            <i class="fa fa-user fa-5x" aria-hidden="true"></i><br>
            Guest
          </div>
        <% end %>
        <li><%= link_to "All Questions", root_path %></li>
        <li><%= link_to "All Tags", alltags_path %></li>
        <li><%= link_to "Convert Currency", exchange_rate_path %></li>
  <!--  <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="#!">First</a></li>
                  <li><a href="#!">Second</a></li>
                  <li><a href="#!">Third</a></li>
                  <li><a href="#!">Fourth</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li> -->
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
        <i class="mdi-navigation-menu"></i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li>
            <%= link_to '<i class="left material-icons">power_settings_new</i>Log out'.html_safe,
            destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to '<i class="left material-icons">power_settings_new</i>Log in'.html_safe,
            new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<script>
  $(document).ready(function(){
    // Initialize collapse button
    $(".button-collapse").sideNav({
      menuWidth: 225, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
    });
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
  });
</script>

