<h4>All Tags</h4>
<hr>
<% @tags.each do |tag| %>
  <div class="col-md-4 text-center">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <i class="fa fa-tag" aria-hidden="true"></i>
                <%= tag.name %>
              </span>
              <br>
              <%= link_to "#{pluralize(tag.posts.size, "question")}", tag_path(tag)%>
            </div>
            <div class="card-action">
               <% if user_signed_in? %>
                <% if current_user.is_following(current_user.id, tag.id) %>
                  <%= button_to "Unfollow", unfollow_tag_path(tag.name),
                  method: :post, class: 'waves-effect waves-light btn' %>
                <% else %>
                  <%= button_to "Follow", follow_tag_path(tag.name),
                  method: :post, class: 'waves-effect waves-light btn' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="fixed-action-btn horizontal add_button">
    <%= link_to new_post_path, class: 'btn-floating btn-large deep-purple accent-2' do %>
      <i class="large material-icons">mode_edit</i>
    <% end %>
  </div>
<% end %>
