<h4>
  <i class="fa fa-tag" aria-hidden="true"></i>
  <%= @tagname %>
</h4>
<hr>

<% if user_signed_in? %>
  <% if current_user.is_following(current_user.id, @tag.id) %>
    <%= button_to "Unfollow", unfollow_tag_path(@tagname), method: :post, class: 'waves-effect waves-light btn' %>
  <% else %>
    <%= button_to "Follow", follow_tag_path(@tagname), method: :post, class: 'waves-effect waves-light btn' %>
  <% end %>
<% end %>

<br>
<%= render 'mainpage' %>
<%= paginate @posts %>

