<!DOCTYPE html>
<html>
  <head>
    <title>Qazar</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="container">
      <%= render 'shared/header' %>
      <div id="body">
        <div class="container">
          <div class="input-field">
            <%= form_tag results_path, method: :get, role: 'search' do %>
              <i class="material-icons prefix">search</i>
              <%= text_field_tag :query, params[:query], id: "icon_prefix", class: 'validate', placeholder: 'Search question or tag' %>
            <% end %>
          </div>
          <% if flash.any? %>
            <ul class="collapsible yellow accent-1" data-collapsible="accordion">
              <li>
                <div class="collapsible-header yellow accent-1">
                  <i class="material-icons">warning</i>
                  <%= "Read it"%>
                </div>

                <div class="collapsible-body">
                    <% flash.each do |name, msg| %>
                      <p><%= msg %></p>
                    <% end %>
                </div>
              </li>
            </ul>
          <% end %>
          <%= yield %>
        </div>
      </div>
     <%= render 'shared/footer' %>
    </div>
  </body>
</html>
